version: 2.1

# YUVOPS - REFERENCE MATERIAL

# FIND CORRECT AMI BASED ON THE REGION:
# - https://cloud-images.ubuntu.com/locator/

# CIRCLECI REF:
# - https://circleci.com/docs/2.0/env-vars/
# - https://discuss.circleci.com/t/using-environment-variables-inside-circle-yml/2427
# - https://circleci.com/docs/2.0/pipeline-variables/
# - https://circleci.com/docs/2.0/configuration-reference/#the-when-step-requires-version-21
# - https://circleci.com/docs/2.0/notifications/

# DOCKER IMAGES:
# - https://hub.docker.com/_/python
# - https://hub.docker.com/r/amazon/aws-cli

# USEFUL WEB RESOURCES:
# - http://www.yamllint.com
# - https://memstash.io

# AWS - VIDEOS
# - AWS SETUP: https://youtu.be/d1W1HUz8yRw

# CIRCLECI - VIDEOS
# - ENVIRONMENT VARIABLES: https://youtu.be/caFJQ1YwVdU

# PROMETHEUS - VIDEOS
# - PROMETHEUS SETUP: https://youtu.be/PSXrbE54FqQ

# BASH
# SYNTAX - IF THEN ELSE: https://linuxize.com/post/bash-if-else-statement/
# -n flag: https://ryanstutorials.net/bash-scripting-tutorial/bash-if-statements.php


# AWS ERRORS
# - FIX EXPORT NAME ERROR CLOUDFRONT: https://stackoverflow.com/questions/63271865/export-with-name-exrole-is-already-exported-by-stack-root-role


# AWS CLI
#
# INSTALLATION
# - https://docs.aws.amazon.com/cli/latest/userguide/install-linux.html
# - https://docs.aws.amazon.com/cli/latest/userguide/install-linux.html#install-linux-pip
#
# COMMANDS
# - cloudformation: https://docs.aws.amazon.com/cli/latest/reference/cloudformation/index.html
# - deploy: https://docs.aws.amazon.com/cli/latest/reference/cloudformation/deploy/index.html
# - s3: https://docs.aws.amazon.com/cli/latest/userguide/cli-services-s3-commands.html#using-s3-commands-managing-buckets-creating
# - create-stack: https://docs.aws.amazon.com/cli/latest/reference/cloudformation/create-stack.html
# - describe-instances: https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-instances.html
# - region: https://aws.amazon.com/blogs/infrastructure-and-automation/multiple-account-multiple-region-aws-cloudformation/

# ANSIBLE
#
# - wait_for_connection: https://docs.ansible.com/ansible/2.5/modules/wait_for_connection_module.html
# - hosts & groups: https://docs.ansible.com/ansible/2.3/intro_inventory.html


# PROMETHEUS PORTS
# - https://github.com/prometheus/prometheus/wiki/Default-port-allocations

commands:
  destroy-yuvops-environment:
    description: YuvOps - Destroy the frontend and backend stacks given the workflow id.
    steps:
      - run:
          name: YuvOps - Destroy yuvops environment
          command: |
            aws s3 rm "s3://yuvops-${CIRCLE_WORKFLOW_ID:0:7}" --recursive
            aws cloudformation delete-stack --stack-name "yuvops-frontend-${CIRCLE_WORKFLOW_ID:0:7}"
            aws cloudformation delete-stack --stack-name "yuvops-backend-${CIRCLE_WORKFLOW_ID:0:7}"
            curl -H "Content-Type: text/plain" -H "token: 7c7e45d9-6a83-4d93-b869-7338fcf92714" --request PUT --data "" https://api.memstash.io/values/yuvopsurl_${CIRCLE_WORKFLOW_ID:0:7}
            curl -H "Content-Type: text/plain" -H "token: 7c7e45d9-6a83-4d93-b869-7338fcf92714" --request PUT --data "" https://api.memstash.io/values/yuvopsarn_${CIRCLE_WORKFLOW_ID:0:7}
          when: on_fail

  revert-migrations:
    description: "YuvOps - Revert the last migration if the process was executed successfully in the current workflow"
    steps:
      - run:
          name: "YuvOps - Revert Migrations"
          when: on_fail
          command: |
            YUVOPS_SUCCESS_MIGRATION=$(curl -H "token: 7c7e45d9-6a83-4d93-b869-7338fcf92714" --request GET https://api.memstash.io/values/yuvopsmigrations_${CIRCLE_WORKFLOW_ID:0:7})
            echo "RESULT: $YUVOPS_SUCCESS_MIGRATION"
            if (( $YUVOPS_SUCCESS_MIGRATION == true ));
            then
              cd ~/project/backend
              npm install
              npm run migration:revert
              echo "MIGRATION REVERT STATUS: SUCCESS"
            else
              echo "MIGRATION REVERT STATUS: FAIL"
            fi


jobs:
  yuvops-ci:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: YuvOps - Starting CI process
          command: |
            echo "YuvOps - Starting CI process"

  yuvops-cd:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: YuvOps - Starting CD process
          command: |
            echo "YuvOps - Starting CD process"

  build-frontend:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: YuvOps - Install Frontend Dependencies
          command: |
            cd frontend
            npm install
      - run:
          name: YuvOps - Build Frontend
          command: |
            cd frontend
            npm run build

  test-frontend:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: YuvOps - Install Frontend Dependencies
          command: |
            cd frontend
            npm install
      - run:
          name: YuvOps - Test Frontend
          command: |
            cd frontend
            npm run test

  scan-frontend:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: YuvOps - Scan Frontend Dependencies
          command: |
            cd frontend
            npm audit fix --audit-level=critical --force

  build-backend:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: YuvOps - Install Backend Dependencies
          command: |
            cd backend
            npm install
      - run:
          name: YuvOps - Build Backend
          command: |
            cd backend
            npm run build

  test-backend:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: YuvOps - Install Backend Dependencies
          command: |
            cd backend
            npm install
      - run:
          name: YuvOps - Test Backend
          command: |
            cd backend
            npm run test

  scan-backend:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: YuvOps - Scan Backend Dependencies
          command: |
            cd backend
            npm audit fix --audit-level=critical --force

  deploy-infrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run: yum -y install tar gzip
      - run:
          name: YuvOps - Ensure that the backend infrastructure exists
          command: |
            cd .circleci/files
            pwd
            ls
            echo ${AWS_DEFAULT_REGION}
            aws cloudformation deploy \
              --template-file backend.yml \
              --stack-name "yuvops-backend-${CIRCLE_WORKFLOW_ID:0:7}" \
              --parameter-overrides ID="${CIRCLE_WORKFLOW_ID:0:7}" \
              --tags project=yuvops
            YUVOPS_URLS=$(aws ec2 describe-instances --region ${AWS_DEFAULT_REGION} --query "Reservations[*].Instances[*].PublicIpAddress"  --filters "Name=tag:Name,Values=backend-${CIRCLE_WORKFLOW_ID:0:7}"  --output text)
            echo "YUVOPS_URLS=$YUVOPS_URLS"
            echo "$YUVOPS_URLS"
            echo "${CIRCLE_WORKFLOW_ID:0:7}"
            curl -H "Content-Type: text/plain" -H "token: 7c7e45d9-6a83-4d93-b869-7338fcf92714" --request PUT --data "$YUVOPS_URLS" https://api.memstash.io/values/yuvopsurl_${CIRCLE_WORKFLOW_ID:0:7}
      - run:
          name: YuvOps - Ensure that the frontend infrastructure exists
          command: |
            cd .circleci/files
            pwd
            ls
            echo ${AWS_DEFAULT_REGION}
            aws cloudformation deploy \
              --template-file frontend.yml \
              --stack-name "yuvops-frontend-${CIRCLE_WORKFLOW_ID:0:7}" \
              --parameter-overrides ID="${CIRCLE_WORKFLOW_ID:0:7}" \
              --tags project=yuvops
              YUVOPS_ARN=$(aws s3 ls | grep yuvops)
              echo "YUVOPS_ARN=$YUVOPS_ARN"
              echo "$YUVOPS_ARN"
              curl -H "Content-Type: text/plain" -H "token: 7c7e45d9-6a83-4d93-b869-7338fcf92714" --request PUT --data "$YUVOPS_ARN" https://api.memstash.io/values/yuvopsarn_${CIRCLE_WORKFLOW_ID:0:7}
      - destroy-yuvops-environment



  configure-infrastructure:
    docker:
      - image: python:3.7-alpine3.12
    steps:
      - checkout
      - attach_workspace:
          at: ~/project
      - add_ssh_keys:
          fingerprints: ["d7:d3:10:26:b3:5f:8f:e6:f7:86:0d:75:e3:9e:0a:d1"]
      - run:
          name: "YuvOps - Installing Dependencies"
          command: |
            apk add --update tar gzip ansible nodejs npm curl
            pip install awscli
      - run:
          name: "YuvOps - Setting up the inventory file"
          command: |
            cd .circleci/ansible
            echo "[web]" >> inventory.txt
            YUVOPS_URLS=$(curl -H "token: 7c7e45d9-6a83-4d93-b869-7338fcf92714" --request GET https://api.memstash.io/values/yuvopsurl_${CIRCLE_WORKFLOW_ID:0:7})
            echo "$YUVOPS_URLS" >> inventory.txt
            cat inventory.txt
      - run:
          name: "YuvOps - Using Ansible to Configure the Server"
          no_output_timeout: 15m
          command: |
            echo ENVIROMENT=production > "backend/.env"
            echo TYPEORM_CONNECTION=postgres >> "backend/.env"
            echo TYPEORM_MIGRATIONS_DIR=./src/migrations >> "backend/.env"
            echo TYPEORM_ENTITIES=./src/modules/domain/**/*.entity.ts >> "backend/.env"
            echo TYPEORM_MIGRATIONS=./src/migrations/*.ts >> "backend/.env"
            echo TYPEORM_HOST=$TYPEORM_HOST >> "backend/.env"
            echo TYPEORM_PORT=$TYPEORM_PORT >> "backend/.env"
            echo TYPEORM_USERNAME=$TYPEORM_USERNAME >> "backend/.env"
            echo TYPEORM_PASSWORD=$TYPEORM_PASSWORD >> "backend/.env"
            echo TYPEORM_DATABASE=$TYPEORM_DATABASE >> "backend/.env"
            cd .circleci/ansible
            ansible-playbook -i inventory.txt yuvops-configure-server.yml
      - destroy-yuvops-environment

  run-migrations:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - run:
          name: "YuvOps - Install Dependencies"
          command: |
            cd backend
            npm install
      - run:
          name: "YuvOps - Perform Database Migration"
          command: |
            cd backend
            touch yuvops_migrations_results.txt
            npm run migrations > yuvops_migrations_results.txt
            cat yuvops_migrations_results.txt
      - run:
          name: "YuvOps - Save Migration Status"
          command: |
            cd backend
            if grep "executed successfully" yuvops_migrations_results.txt
            then
              echo "STATUS MIGRATION: SUCCESS"
              curl -H "Content-Type: text/plain" -H "token: 7c7e45d9-6a83-4d93-b869-7338fcf92714" --request PUT --data "true" https://api.memstash.io/values/yuvopsmigrations_${CIRCLE_WORKFLOW_ID:0:7}
            else
              echo "STATUS MIGRATION: FAIL"
              curl -H "Content-Type: text/plain" -H "token: 7c7e45d9-6a83-4d93-b869-7338fcf92714" --request PUT --data "false" https://api.memstash.io/values/yuvopsmigrations_${CIRCLE_WORKFLOW_ID:0:7}
            fi
      - destroy-yuvops-environment


workflows:
  default:
    jobs:
      - yuvops-ci
      - build-frontend:
          requires:
            - yuvops-ci
      - test-frontend:
          requires:
            - build-frontend
      - scan-frontend:
          requires:
            - test-frontend
      - build-backend:
          requires:
            - scan-frontend
      - test-backend:
          requires:
            - build-backend
      - scan-backend:
          requires:
            - test-backend
      - yuvops-cd:
          requires:
            - scan-frontend
            - scan-backend
      - deploy-infrastructure:
          requires:
            - scan-frontend
            - scan-backend
            - yuvops-cd
      - configure-infrastructure:
          requires:
            - deploy-infrastructure
      - run-migrations:
          requires:
            - configure-infrastructure
